[Unit]
Description=Ddns service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/ddns -f /etc/ddns.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target
